<footer>
	<div class="container">
                        <div class="row">
                            
                            <div class="col-md-6 item text-center">
                                <h5><a href="http://sources.site90.com/" target="_blank">Previous Version of this site.</a></h5>
                                <h5>Contact</h5>
                                <ul>
                                    <li><a href="mailto:sathuribharathbrothers1234@gmail.com?Subject=Hello%20Bharath" target="_blank">Send a Mail</a></li>
                                    <li><a href="https://api.whatsapp.com/send?phone=919133430813">Send a Message</a></li>
                                    
                                </ul>
                                <h3><a href="https://github.com/StarkSources/starksources.github.io" target="_blank">Contribute to this site.</a></h3>
<!--<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="bharath-kumar-goud"><a class="LI-simple-link" href='https://in.linkedin.com/in/bharath-kumar-goud?trk=profile-badge'>Bharath Sathuri</a></div>-->
                            </div>
                            <div class="col item social">
                            <a href="https://www.facebook.com/sathuribharath.stark" target="_blank"><i class="icon ion-social-facebook"></i></a>
                            <a href="https://github.com/Bharathbrothers" target="_blank"><i class="icon ion-social-github"></i></a>
                            <a href="https://www.linkedin.com/in/bharath-kumar-goud/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
                            <a href="https://twitter.com/BharathSathuri" target="_blank" ><i class="icon ion-social-twitter"></i></a></div>
                        </div>
                        <p class="copyright">STARK © 2018</p>
                    </div>
	

</footer>
